@page "{slug?}"
@model MOProject.Pages.PostModel
@using Microsoft.AspNetCore.Html



@if (Model.Post == null)
{
    <div class="px-lg-5 container px-4">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <h2>Post not found</h2>
            </div>
        </div>
    </div>
}
else
{
    var headerImage = !string.IsNullOrEmpty(Model.Post.ImageUrl)
        ? Url.Content(Model.Post.ImageUrl)
        : Url.Content("~/BlogHeader.jpg"); // fallback default image

    <!-- Blog-style Header with dynamic background image -->
    <header class="masthead" style="background-image: url('@headerImage')">
        <div class="position-relative px-lg-5 container px-4">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <div class="site-heading">
                        <h1>@Model.Post.Title</h1>
                        <span class="subheading">Welcome to our blog posts</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Blog Post Content -->
    <div class="px-lg-5 container px-4">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <p class="post-meta">
                    <em>By @Model.Post.Author on @Model.Post.Date.ToShortDateString()</em>
                </p>
                <article>
                    <div>@(new HtmlString(Model.Post.Content))</div>
                </article>
            </div>
        </div>
    </div>
}
