@page
@model MOProject.Pages.TheCollectionModel
@{
}


<div class="p-20 text-center">
 <h2>What type of flowers would you like to view</h2>
</div>

<a href="/Autumn">
<div class="flex flex-col gap-3 md:grid md:grid-cols-3">
    <di2v class="relative overflow-hidden rounded">
        <img src="./Autumn.jpg" alt="Hanging Planters" class="w-full">
        <p class="bg-opacity-40 absolute inset-0 flex cursor-pointer items-center justify-center text-center text-2xl font-medium text-white transition group-hover:bg-opacity-60">
            Autumn Flowers 
        </p>
    </di2v>
    </a>
    <a href="/Spring">
    <div class="relative overflow-hidden rounded">
        <img src="./Spring.jpg" alt="Planter Stand with Pots" class="w-full">
        <p class="bg-opacity-40 absolute inset-0 flex cursor-pointer items-center justify-center text-center text-2xl font-medium text-white transition group-hover:bg-opacity-60">
            Spring Flowers
        </p>
    </div>
    </a>
    <a href="/FlowerPages/Summer">
    <div class="relative overflow-hidden rounded">
        <img src="./Summer.jpg" alt="Watering Cans" class="w-full">
        <p class="bg-opacity-40 absolute inset-0 flex cursor-pointer items-center justify-center text-center text-2xl font-medium text-white transition group-hover:bg-opacity-60">
            Summer Flowers
        </p>
    </div>
    </a>
    <a href="/Snow">
    <div class="relative overflow-hidden rounded">
        <img src="./Snow.jpg" alt="Metal Planters" class="w-full">
        <p class="bg-opacity-40 absolute inset-0 flex cursor-pointer items-center justify-center text-center text-2xl font-medium text-white transition group-hover:bg-opacity-60">
            Winter Flowers
        </p>
    </div>
    </a>
    <a href="/wreath">
    <div class="relative overflow-hidden rounded">
        <img src="./Wreath1.jpg" alt="Table Top Planters" class="w-full">
        <p class="bg-opacity-40 absolute inset-0 flex cursor-pointer items-center justify-center text-center text-2xl font-medium text-white transition group-hover:bg-opacity-60">
            Wreaths
        </p>
    </div>
    </a>
    <div class="relative overflow-hidden rounded">
        <img src="./Custome Flowers.jpg" alt="Wall Mounted Stands" class="w-full">
        <p class="bg-opacity-40 absolute inset-0 flex cursor-pointer items-center justify-center text-center text-2xl font-medium text-white transition group-hover:bg-opacity-60">
            Customized Flowers
        </p>
    </div>
</div>
<div class ="p-20">

</div>