@{
    Layout = "/Pages/Shared/_Layout.cshtml";
}

<div class="row justify-content-center">
    <div class="col-6 mt-5">
        <div class="card login-logout-card">
            <div class="card-header">
                <ul class="nav nav-tabs card-header-tabs">
                    <li class="nav-item">
                        <a class="nav-link" href="Account/Login">
                            Login
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="Account/Register">
                            Register
                        </a>
                    </li>
                </ul>
            </div>
            <div class="card-body">
                <div class="row justify-content-center">
                    <div class="col-10 my-4">
                        @RenderBody()
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @await RenderSectionAsync("Scripts", required: false)
    <script>
        $(function () {
            const currentPage = location.pathname;
            $('.nav-tabs li a').each(function () {
                const $this = $(this);
                if (currentPage.toLowerCase().indexOf($this.attr('href').toLowerCase()) !== -1) {
                    $this.addClass('active');
                }
            });
        });
    </script>
}
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>

<title>MyGovID - Home</title>
<script type="text/javascript" async="" src="https://www.googletagmanager.com/gtag/js?id=G-ECQXBE0WTG&amp;l=dataLayer&amp;cx=c&amp;gtm=45He4cc1v9132947297za200"></script>
<script async="" src="https://www.googletagmanager.com/gtm.js?timestamp={DateTime.Now.Ticks}&amp;id=GTM-K9C8FVX"></script>
<script src="https://mygovidstatic.blob.core.windows.net/assets/scripts/jquery-3.2.1.min.js" type="application/javascript"></script>
<script type="text/javascript" src="https://mygovidstatic.blob.core.windows.net/assets/scripts/vendor.js"></script>

<script type="text/javascript" src="https://mygovidstatic.blob.core.windows.net/assets/scripts/libs.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<link href="https://mygovidstatic.blob.core.windows.net/assets/Content/mygovidstyles.css" rel="stylesheet" type="text/css" />