@import url('https://fonts.googleapis.com/css2?family=Playwright+CU:wght@100;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;400;700&display=swap');



@tailwind base;
@tailwind components;
@tailwind utilities;



:root {
    --font-primary: 'Playwrite CU', cursive;
    --font-casual: 'Roboto Mono', monospace;
}

/* Apply the font variables */
body {
    font-family: var(--font-primary);
}

.mono-text {
    font-family: var(--font-casual);
}

.showcase {
    transition: .10s
}   

.showcase.active {
    @apply right-72;
    }

.menu-a {
   @apply text-2xl text-gray-800 no-underline hover:text-overlay;
}

input[type=text], input[type=email], textarea, select {
    @apply border-2 w-full rounded border-zinc-900 p-1 text-lg;
}

h1, h2, h3, h4 {
    @apply font-bold;
}

h1 {
    @apply text-2xl;
}

h2 {
    @apply text-xl;
}

h3 {
    @apply text-lg;
}

h4 {
    @apply text-lg italic;
}

button {
    @apply rounded-lg bg-yellow-600 p-2 font-bold text-white hover:bg-black-800;
}

.field-validation-error {
    @apply italic text-red-500;
}
