@* @model MOProject.ViewModels.SettingsVM
@using MOProject.Models
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Layout = "BlogDashLayout";
    ViewData["Title"] = "Settings";
}

<div class="container-fluid">
    <a class="btn btn-primary mb-1" asp-action="Index" asp-controller="Post" asp-area="Admin">Go Back</a>
    <div class="card">
        <div class="card-header bg-primary">
            <h4 class="card-title text-white">Settings</h4>
        </div>
        <div class="card-body">
            <form asp-action="Index" asp-controller="Settings" asp-area="Admin" enctype="multipart/form-data">
                <input type="hidden" asp-for="Id1" />

                <div class="row mb-2">
                    <div class="col-9">
                        <!-- SiteName Field -->
                        <div class="mb-2">
                            <label asp-for="SiteName1" class="form-label">Site Name</label>
                            <input asp-for="SiteName1" class="form-control" />
                            <span asp-validation-for="SiteName1" class="text-danger"></span>
                        </div>

                        <!-- Title Field -->
                        <div class="mb-2">
                            <label asp-for="Title1" class="form-label">Title</label>
                            <input asp-for="Title1" class="form-control" />
                            <span asp-validation-for="Title1" class="text-danger"></span>
                        </div>

                        <!-- Short Description Field -->
                        <div class="mb-2">
                            <label asp-for="ShortDescription1" class="form-label">Short Description</label>
                            <input asp-for="ShortDescription1" class="form-control" />
                            <span asp-validation-for="ShortDescription1" class="text-danger"></span>
                        </div>

                        <!-- Facebook URL Field -->
                        <div class="mb-2">
                            <label asp-for="FacebookUrl1" class="form-label">Facebook URL</label>
                            <input asp-for="FacebookUrl1" class="form-control" />
                            <span asp-validation-for="FacebookUrl1" class="text-danger"></span>
                        </div>

                        <!-- Instagram URL Field -->
                        <div class="mb-2">
                            <label asp-for="InstagramUrl1" class="form-label">Instagram URL</label>
                            <input asp-for="InstagramUrl1" class="form-control" />
                            <span asp-validation-for="InstagramUrl1" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="col-3">
                        <!-- Thumbnail Image Display -->
                        <div class="mb-2">
                            @if (string.IsNullOrEmpty(Model.ThumbnailUrl1))
                            {
                                <img src="~/thumbnails/default_image.png" class="img-fluid" id="thumbnail" />
                            }
                            else
                            {
                                <img src="~/thumbnails/@Model.ThumbnailUrl1" class="img-fluid" id="thumbnail" />
                            }
                        </div>

                        <!-- Thumbnail File Upload -->
                        <div class="mb-2">
                            <label asp-for="ThumbnailUrl1" class="form-label">Thumbnail</label>
                            <input asp-for="ThumbnailUrl1" type="file" class="form-control" />
                            <span asp-validation-for="ThumbnailUrl1" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <!-- Save Button -->
                <div class="mb-2">
                    <button type="submit" class="btn btn-primary w-100">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
        // Update thumbnail preview when a new file is selected
        $(".custom-file").on("change", function () {
            var fileName = $(this).val().split("\\").pop();
            $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
            document.getElementById('thumbnail').src = window.URL.createObjectURL(this.files[0]);
        });
    </script>
}
 *@